dataset
{
  .grid-item-block.extra
  {
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
    label.dummy
    {
      font-size: 25px
    }
    field-option
    {
      padding-left: $padding-1/2;
    }
  }

}