dataset
{
  .grid-item-block.extra
  {
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
    label.dummy
    {
      font-size: 25px
    }
    field-option
    {
      padding-left: $padding-1/2;
    }
  }
  & > .loading
  {
    height: 80px;
    align-items: center;
    display: flex;
    background:  $main-background;
    margin-bottom: $padding-1;
    svg
    {
      margin: auto;
      rect
      {
        fill:$main-background-font;

      }

    }
  }

}