$menu-width:350px;
$menu-color: $main-color;
$menu-font-color: $main-font-color;

$menu-shadow:inset 0px 1px 10px rgba(0, 0, 0, 0.4);
$menu-item-border-bottom: $secondary-color;
$menu-icon-size:20px;
//Side navbar

//Top navbar
navbar >   .menu-top
{
  position: fixed;
  right: 0;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  float: right;
  width: calc(100% - #{$menu-width});
  .menu-hamburger
  {    padding: $padding-1;
    display: inline-block;
    transition:all 0.2s;

    &:hover
    {
      cursor: pointer;
      background: $menu-color;
      color: white;
    }
  }
  background-color: $secondary-color;
  color: $secondary-font-color;
  font-size: $menu-icon-size;
}
navbar[data-type='top'] + navbar[data-type='left'] + .main-container
{
margin-top: 50px;
  height: calc(100% - 50px);
}

//Side navbar
navbar > .menu-side {
  position: fixed;
  width: $menu-width;
  transition: all 0.2s;
  box-shadow: $menu-shadow;
  background-color: $menu-color;
  color: $menu-font-color;
  height: 100%;
  overflow: auto;
}
navbar > .menu-side.left{

  left: 0;
  float: left;
}
//-$menu-width
navbar > .menu-side.left
{
  left: 0;
}
.main-container,.menu-top{
  transition: all 0.2s;
  position: relative;
  right: 0;
}

.main-container {

  left: 0px;

  overflow-x: hidden;

  width: calc(100% - #{$menu-width});


}


navbar > .menu-side >.menu-links {

  transition: all 0.2s;


  //height: 100%;
  //max-height: 100vh;

  position: relative;
  left: 0%;
}
.menu-links  > a:hover {
  color: $menu-color;
  background-color: $menu-font-color;
}
.menu-links > a.active
{
  background: $secondary-color;
  color: $secondary-font-color;
  body:not(.sidebar-toggle) i
  {right: 20px;
  }
}

.menu-links  > a {
  transition:all 0.2s;
  padding: $padding-1;
  display: flex;
  align-items: center;
  i
  {
    transition:all 0.2s;
    margin-left: auto;
    right: 0;
    position: relative;
    font-size: $menu-icon-size;
  }

  body:not(.sidebar-toggle) &:hover
  {
    i
    {right: 20px;}
  }

  width: 100%;
  border-bottom: 1px solid $menu-item-border-bottom;
  font-weight: 600;
}




@media all and (min-width: 769px) {
  body.sidebar-toggle
  {

    navbar > .menu-side
    {
      left:-($menu-width - 50);

    }
    .main-container{
      width: calc(100% - 50px);
    }
    .menu-top
    {
      width: calc(100% - 50px);
    }
  }
}
@media all and (max-width: 768px) {

  .menu-links > a.active
  {

     i
    {
      right: 0!important;
    }
  }


  $menu-width:230px;


  navbar > .menu-side
  {
    width: $menu-width;
  }

  .main-container {
    width: calc(100% - 50px);

  }
  navbar > .menu-top
  {

    right: 0;
  }
  body.sidebar-toggle
  {
    .main-container
    {
      left: $menu-width - 50;
    }
    navbar >   .menu-top
    {
      width: calc(100% - #{$menu-width});
    }

  }


  body:not(.sidebar-toggle)
  {


    navbar > .menu-side
    {
      width: $menu-width;

      left:-($menu-width - 50);

    }
    .main-container{
      width: calc(100% - 50px);
    }
    .menu-top
    {
      width: calc(100% - 50px);
    }
  }
}

@media all and (max-width: 360px) {
  .main-container .body
  {
    padding: $padding-1 / 2 !important;
  }
}




