$login-background-img:"https://www.goodfreephotos.com/albums/new-zealand/other-new-zealand/mountains-landscape-and-road-new-zealand.jpg";

login
{
  .login-wrapper
  {
    .login-errors
    {
      line-height: 120%;
      font-size: 15px;
      font-weight: 600;
      width: 100%;
      text-align: center;
      color: $error-color;
    }

    display: flex;

    &:after{
      content: '';
      position: fixed;
      background:  linear-gradient(to right, $main-color, $secondary-color);
      opacity:0.3;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
btn-toolbar{
    height: auto;
    display: grid;
    align-items: end;
    [data-ng-transclude]
    {
      display:block;
      btn
      {
        float: right;
        max-width: 120px;
      }
    }
  }

    &:before{
      background-size: cover;
      content: '';
      position: fixed;
      background-image: url($login-background-img);

      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
    }


    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    z-index: 10;
    field-grid{

      & > [data-ng-transclude]
      {
        grid-gap: 20px;
      }
      & > [data-ng-transclude] > div
      {
        &:nth-last-child(2) i
        {
          font-size: 18px;
        }
        field
        {

          width: 100%;
        }
        i{    width: 5%;
          display: flex;
          align-items: center;
          margin-right: 20px;
          color: $secondary-color;
        }
        grid-template-columns: min-content auto;
        display:grid;
        font-size: 20px;

      }

      position: relative;
      overflow: hidden;
      max-width: 450px;
      min-width: 300px;
      field > input{
        background: transparent;
      }
      .background-image
      {
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
        width: 100%;
        height: 100%;
        filter: blur(5px);
        background-image: url($login-background-img);
      }
      .overlay
      {
        background: rgba(255,255,255,0.7);
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
      }
      z-index: 11;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
     [data-ng-transclude]  > btn-toolbar
      {
        margin-bottom: 0;
      }

      display: flex;
      width: 50%;
      //background: $main-font-color;
      padding: 30px;
      margin: auto;
    }
  }
}