<label data-ng-show="$ctrl.label">{{$ctrl.label}}</label>
<div data-ng-click="$ctrl.loadFile()" data-ng-mouseover="$ctrl.loadDropBox($event)" data-ng-class="{'dragging-files':$ctrl.draggingFiles}" class="file-dropbox">
    <!--<input type="file">-->

    <span class="text">{{'Haga click o arrastre sus archivos para cargarlos'}} <i class="fas fa-file-upload"></i>


</span>
</div>

<!--
<field data-ng-if="$ctrl.externalFiles" data-label="'Cargar desde la web'" data-model="$ctrl.link" data-placeholder="'Link del archivo'"></field>
-->

<grid-list data-ng-show="$ctrl.previews.length">
    <grid-item  data-ng-repeat="p in $ctrl.previews"
                data-properties="{'base64':{'label':'Vista previa','type':'media'},'name':{'label':'Nombre','type':'editable-text'}}" data-item="p">
    </grid-item>
</grid-list>

