field,field-select,field-options,field-richtext
{

  & > label,& > label + *
  {display:block;width:100%;    font-size:18px;}
  & > label  + *
  {font-family:$main-font;
    padding:$padding-1/3;
    padding-left:0;
    padding-right:0;
    border:0;
    border-bottom:1px solid $main-color;

    outline:0;
  }
  & > label
  {
    font-weight:600;
    color:$main-color;
    margin-bottom:$padding-1/2;
  }

}
field-richtext
{

  h1
  {
    font-size: 25px;
  }
  h2{font-size: 20px}
  h3{font-size: 18px}
  /* Editor styling */

  .ta-toolbar {
    background-color: #F0F0F0;
    padding: 10px 10px 5px;
    margin-left: 0px; /* Override bootstrap */
    border: 1px solid #EEE;
  }

  .ta-toolbar .btn-group {
    margin-bottom: 5px;
  }

  .ta-editor, .white-box {
    padding: 10px;
    background-color: #FFF;
    border: 1px solid #EEE;
  }

  textarea.ta-bind {
    width: 100%;
  }
}
related-items
{
  .related-items-wrapper > label
  {
    display:block;width:100%;    font-size:18px;
    font-weight:600;
    color:$main-color;
    margin-bottom:$padding-1;
  }

}