<label data-ng-click="$ctrl.toggleValue()" >{{$ctrl.label}}</label>




<!--
<input id="{{$ctrl.id}}"  data-ng-model="$ctrl.model" data-ng-true-value="'{{$ctrl.value}}'" type="checkbox">
-->

<div class="dummy-container">
    <label data-ng-class="{'visible':$ctrl.model === false}" data-ng-click="$ctrl.toggleValue()"  class="toggle dummy not-checked"><i class="far fa-square"></i></label>

    <label data-ng-class="{'visible':$ctrl.model !== false}" data-ng-click="$ctrl.toggleValue()" class="toggle dummy checked"><i class="fas fa-check-square"></i></label>


</div>