<field-grid>
    <field  data-errors="$ctrl.validationErrors.title" data-model="$ctrl.item.title" data-label="'Título'">
    </field>

    <field-richtext data-errors="$ctrl.validationErrors.body" data-model="$ctrl.item.body" data-label="'Texto'"></field-richtext>


    <related-items data-errors="$ctrl.validationErrors['_related.images']" data-unrelate-array="$ctrl.item._deletedRelations" data-label="'Imágenes'" data-parent-key="'posts'" data-child-key="'images'" data-module="'file'" data-model="$ctrl.item._related.images" data-properties='{"src":{label:"Vista previa",type:"media"},"name":"Nombre"}'>


       <field data-model="$parent.item._relationData.extra_1" data-label="'Pie de foto'"></field>

    </related-items>

    <related-items data-errors="$ctrl.validationErrors['_related.news']" data-unrelate-array="$ctrl.item._deletedRelations" data-label="'Noticias relacionadas'" data-parent-key="'articles'" data-child-key="'articles'" data-module="'news'" data-model="$ctrl.item._related.articles" data-properties='{"title":"Titulo"}'>


        <field data-model="$parent.item._relationData.extra_1" data-label="'Comentario'"></field>

    </related-items>

    <!--
    <field-options data-multiple="true" data-model="$ctrl.item.interests" data-label="'Intereses'" data-option-label="'label'" data-option-value="'value'"  data-options="[{label:'Si',value:1},{label:'No',value:0}]"></field-options>
-->


    <btn-toolbar>

        <btn  data-ng-click="$ctrl.cancel()" >Cancelar <i class="fas fa-long-arrow-alt-left"></i></btn>
        <btn data-loading="$ctrl.loading" data-ng-click="$ctrl.saveItem()">Guardar <i class="fas fa-save"></i></btn>



    </btn-toolbar>

</field-grid>
