<field-grid>
    <field  data-errors="$ctrl.validationErrors.name" data-model="$ctrl.item.name" data-label="'Nombre'">
    </field>

    <field-select data-options="l as l for l  in [1,2,3]" data-errors="$ctrl.validationErrors.level"  data-model="$ctrl.item.level" data-label="'Nivel'">
    </field-select>

    <field-select data-options="m as m for m in $ctrl.modules" data-errors="$ctrl.validationErrors.module"  data-model="$ctrl.item.module" data-label="'Módulo'">
    </field-select>


    <btn-toolbar>

        <btn  data-ng-click="$ctrl.cancel()" >Cancelar <i class="fas fa-long-arrow-alt-left"></i></btn>
        <btn data-loading="$ctrl.loading" data-ng-click="$ctrl.saveItem()">Guardar <i class="fas fa-save"></i></btn>



    </btn-toolbar>

</field-grid>

