<field-grid>


    <field-select  data-errors="$ctrl.validationErrors.module"    data-label="'Módulo'">

        <select  data-ng-model="$ctrl.item.module" data-ng-options="m as m for m in $ctrl.modules">

        </select>
    </field-select>


    <btn-toolbar>

        <btn  data-ng-click="$ctrl.cancel()" >Cancelar <i class="fas fa-long-arrow-alt-left"></i></btn>
        <btn data-loading="$ctrl.loading" data-ng-click="$ctrl.saveItem()">Guardar <i class="fas fa-save"></i></btn>



    </btn-toolbar>

</field-grid>

