<field-grid>
    <field data-model="$ctrl.item.title" data-label="'Título'"></field>


    <field-richtext data-model="$ctrl.item.body" data-label="'Texto'"></field-richtext>


    <related-items data-unrelate-array="$ctrl.item._deletedRelations" data-label="'Imágenes'" data-parent-key="'posts'" data-child-key="'images'" data-module="'file'" data-model="$ctrl.item._related.images" data-properties='{"src":{label:"Vista previa",type:"media"},"name":"Nombre"}'></related-items>



    <!--
    <field-options data-multiple="true" data-model="$ctrl.item.interests" data-label="'Intereses'" data-option-label="'label'" data-option-value="'value'"  data-options="[{label:'Si',value:1},{label:'No',value:0}]"></field-options>
-->


    <btn-toolbar>

        <btn  data-ng-click="$ctrl.cancel()" >Cancelar <i class="fas fa-long-arrow-alt-left"></i></btn>
        <btn data-loading="$ctrl.loading" data-ng-click="$ctrl.saveItem()">Guardar <i class="fas fa-save"></i></btn>



    </btn-toolbar>

</field-grid>

