<field-grid>

    <field  data-errors="$ctrl.validationErrors.name" data-model="$ctrl.item.name" data-label="'Título'">
    </field>

    <related-items data-errors="$ctrl.validationErrors['_related.permissions']" data-unrelate-array="$ctrl.item._deletedRelations" data-label="'Permisos'" data-parent-key="'roles'" data-child-key="'permissions'" data-module="'module'" data-model="$ctrl.item._related.permissions" data-properties='{"name":"Módulo"}'>


       <field-grid>


           <field-select data-model="$parent.$parent.$parent.$parent.$ctrl.item._relationData.extra_2" data-options="a as a for a in $parent.$parent.$parent.$parent.$parent.$ctrl.item.actions"  data-label="'Acción'">
           </field-select>

           <field-select data-model="$parent.$parent.$parent.$parent.$ctrl.item._relationData.extra_1" data-options="l as l for l in [1,2,3]"  data-label="'Nivel'">
           </field-select>

       </field-grid>
    </related-items>


    <!--
    <related-items data-errors="$ctrl.validationErrors['_related.permissions']" data-unrelate-array="$ctrl.item._deletedRelations" data-label="'Permisos'" data-parent-key="'roles'" data-child-key="'permissions'" data-module="'permission'" data-model="$ctrl.item._related.permissions" data-properties='{"id":"ID","module":"Módulo","action":"Acción"}'>

        <field-select data-model="$parent.$parent.$ctrl.item._relationData.extra_1" data-options="l as l for l in [1,2,3]"  data-label="'Nivel'">
        </field-select>

    </related-items>
-->
    <btn-toolbar>

        <btn  data-ng-click="$ctrl.cancel()" >Cancelar <i class="fas fa-long-arrow-alt-left"></i></btn>
        <btn data-loading="$ctrl.loading" data-ng-click="$ctrl.saveItem()">Guardar <i class="fas fa-save"></i></btn>



    </btn-toolbar>

</field-grid>
