

<a class="prev" data-ng-class="{'disabled':$ctrl.pagination.offset == 0}" data-ng-click="$ctrl.goToPage($ctrl.pagination.offset)"><i class="fas fa-caret-left"></i></a>
<a data-ng-click="$ctrl.goToPage(p.number)" class="page" data-ng-class="{'active':p.active}" data-ng-repeat="p in $ctrl.pagerArray">{{p.number}}</a>
<a class="next" data-ng-class="{'disabled':$ctrl.pagination.offset + 1 == $ctrl.pagination.pages}" data-ng-click="$ctrl.goToPage($ctrl.pagination.offset + 2)" ><i class="fas fa-caret-right"></i></a>
