<!--<span class="prev"><i class="fas fa-caret-left"></i>

</span>

<span data-ng-click="$ctrl.goToPage(p.number)" class="page" data-ng-class="{'active':p.active}" data-ng-repeat="p in $ctrl.pagerArray">{{p.number}}</span>

<span class="next"><i class="fas fa-caret-right"></i>

</span>
-->


<a><i class="fas fa-caret-left"></i></a>
<a data-ng-click="$ctrl.goToPage(p.number)" class="page" data-ng-class="{'active':p.active}" data-ng-repeat="p in $ctrl.pagerArray">{{p.number}}</a>
<a><i class="fas fa-caret-right"></i></a>