<heading>
    {{$ctrl.title}}
</heading>

<dataset data-loading="$ctrl.loadingItems" data-single-selection="$ctrl.singleSelection"  data-selected-items="$ctrl.selectedItems" data-change-page="$ctrl.changePage" data-pager-offset="$ctrl.pagerOffset" data-pagination="$ctrl.pagination" data-individual-actions="$ctrl.individualActions" data-grid-mode="$ctrl.gridMode" data-pagination="$ctrl.pagination" data-properties="$ctrl.properties" data-items="$ctrl.items"></dataset>


<btn-toolbar data-ng-if="$ctrl.toolbarActions.length">

    <btn class="toggle" data-ng-repeat="tool in $ctrl.toolbarActions"
         data-ng-click="tool.action()"
         data-ng-show="tool.visible()">
        {{tool.label()}} <i data-ng-class="tool.icon" data-ng-show="tool.icon"></i>
    </btn>
</btn-toolbar>


<lightbox data-opened="$ctrl.deleteItem">
    <heading>¿Eliminar el elemento?</heading>
    <btn-toolbar>
        <btn data-ng-click="$ctrl.deleteItem()">Si</btn>
        <btn  data-ng-click="$ctrl.deleteItem=false">No</btn>
    </btn-toolbar>
</lightbox>

