
heading
{
  .main-title {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 300;
    color: $secondary-color;
    border-bottom: 1px solid $secondary-color;
    line-height: 150%;

  }

}