related-items > .related-items-wrapper > lightbox > .lightbox > .lightbox-container{
  width: 90%;

  .main-title
  {
    font-size: 30px;
  }

}
related-items
{
  .related-items-wrapper
  {
    & > btn-toolbar > .tools{
      grid-template-columns: 1fr 1fr;
    }

  }
  .lightbox-container
  {
    max-height: 90vh;
    overflow: auto;
    btn-toolbar
    {
      //display: none;
    }
  }
}
related-items
{
  .lightbox-container
  {    padding: 30px!important;
    border: 3px solid $secondary-color;}
}