@import "ng-animations.scss";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
$main-font:"Open Sans", sans-serif;;

html,
body {
  height: 100%;
  font-family: $main-font;
}

$main-background:white;
$main-background-font:black;
$main-color: #2980b9;

$main-font-color:white;

$secondary-color:#3498db;
$secondary-font-color: black;

$padding-1: 15px;


b {
  font-weight: 600;
}






a{
  text-decoration: none;
  color: inherit;
}


//Components
@import "../components/grid-list/style";
@import "../components/grid-item/style";
@import "../components/media/style";
@import "../components/pager/style";
@import "../components/field/style";
@import "../components/field-grid/style";
@import "../components/field-options/style";
@import "../components/btn-toolbar/style";
@import "../components/btn/style";
@import "../components/lightbox/style";
@import "../components/dropdown/style";
@import "../components/field-upload/style";
@import "../components/heading/style";
@import "../components/navbar/style";
@import "../components/related-items/style";
@import "../components/field-option/style";
@import "../components/dataset/style";
@import "../components/routes/list/style";
@import "../components/routes/login/style";

.main-container
{
  overflow: hidden;

  float: right;
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto;
  grid-row: 1 / span 2;
  grid-template-columns: repeat(6, 1fr);
}
.main-container > .body {
  grid-column: 1 / span 6;
  padding: $padding-1;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  overflow: auto;
  background: $main-background;



}

.fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
  transition: all 0.25s ease;
}
.fade.ng-enter {
  opacity: 0;
}
.fade.ng-enter-active {
  opacity: 1;
  overflow: hidden;
}
.fade.ng-leave {
  opacity: 1;
}
.fade.ng-leave-active {
  opacity: 0;
}