/* ------------------------------------------- */
/* Mixins
/* ------------------------------------------- */
/* ------------------------------------------- */
/* Toggle Fade
/* ------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
.toggle {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .toggle.ng-enter {
    opacity: 0;
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms; }
  .toggle.ng-enter-active {
    opacity: 1; }
  .toggle.ng-leave {
    opacity: 1;
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms; }
  .toggle.ng-leave-active {
    opacity: 0; }
  .toggle.ng-hide-add {
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .toggle.ng-hide-add.ng-hide-add-active {
    opacity: 0; }
  .toggle.ng-hide-remove {
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .toggle.ng-hide-remove.ng-hide-remove-active {
    opacity: 1; }

/* ------------------------------------------- */
/* Slide Top
/* ------------------------------------------- */
.slide-top {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .slide-top.ng-enter {
    transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .slide-top.ng-enter-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }
  .slide-top.ng-leave {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-top.ng-leave-active {
    transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    opacity: 0; }
  .slide-top.ng-hide-add {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-top.ng-hide-add.ng-hide-add-active {
    transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    opacity: 0; }
  .slide-top.ng-hide-remove {
    transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .slide-top.ng-hide-remove.ng-hide-remove-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Slide Rigth
/* ------------------------------------------- */
.slide-right {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .slide-right.ng-enter {
    transform: translateX(60px);
    -ms-transform: translateX(60px);
    -webkit-transform: translateX(60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .slide-right.ng-enter-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }
  .slide-right.ng-leave {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-right.ng-leave-active {
    transform: translateX(60px);
    -ms-transform: translateX(60px);
    -webkit-transform: translateX(60px);
    opacity: 0; }
  .slide-right.ng-hide-add {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-right.ng-hide-add.ng-hide-add-active {
    transform: translateX(60px);
    -ms-transform: translateX(60px);
    -webkit-transform: translateX(60px);
    opacity: 0; }
  .slide-right.ng-hide-remove {
    transform: translateX(60px);
    -ms-transform: translateX(60px);
    -webkit-transform: translateX(60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .slide-right.ng-hide-remove.ng-hide-remove-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Slide Left
/* ------------------------------------------- */
.slide-left {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .slide-left.ng-enter {
    transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .slide-left.ng-enter-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }
  .slide-left.ng-leave {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-left.ng-leave-active {
    transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    opacity: 0; }
  .slide-left.ng-hide-add {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-left.ng-hide-add.ng-hide-add-active {
    transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    opacity: 0; }
  .slide-left.ng-hide-remove {
    transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .slide-left.ng-hide-remove.ng-hide-remove-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Slide Down
/* ------------------------------------------- */
.slide-down {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .slide-down.ng-enter {
    transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .slide-down.ng-enter-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }
  .slide-down.ng-leave {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-down.ng-leave-active {
    transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    opacity: 0; }
  .slide-down.ng-hide-add {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-down.ng-hide-add.ng-hide-add-active {
    transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    opacity: 0; }
  .slide-down.ng-hide-remove {
    transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .slide-down.ng-hide-remove.ng-hide-remove-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Bouncy Slide Top
/* ------------------------------------------- */
.bouncy-slide-top {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }
  .bouncy-slide-top.ng-enter {
    transform: translateY(240px);
    -ms-transform: translateY(240px);
    -webkit-transform: translateY(240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .bouncy-slide-top.ng-enter-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }
  .bouncy-slide-top.ng-leave {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-top.ng-leave-active {
    transform: translateY(240px);
    -ms-transform: translateY(240px);
    -webkit-transform: translateY(240px);
    opacity: 0; }
  .bouncy-slide-top.ng-hide-add {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-top.ng-hide-add.ng-hide-add-active {
    transform: translateY(240px);
    -ms-transform: translateY(240px);
    -webkit-transform: translateY(240px);
    opacity: 0; }
  .bouncy-slide-top.ng-hide-remove {
    transform: translateY(240px);
    -ms-transform: translateY(240px);
    -webkit-transform: translateY(240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .bouncy-slide-top.ng-hide-remove.ng-hide-remove-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Bouncy Slide Rigth
/* ------------------------------------------- */
.bouncy-slide-right {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }
  .bouncy-slide-right.ng-enter {
    transform: translateX(240px);
    -ms-transform: translateX(240px);
    -webkit-transform: translateX(240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .bouncy-slide-right.ng-enter-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }
  .bouncy-slide-right.ng-leave {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-right.ng-leave-active {
    transform: translateX(240px);
    -ms-transform: translateX(240px);
    -webkit-transform: translateX(240px);
    opacity: 0; }
  .bouncy-slide-right.ng-hide-add {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-right.ng-hide-add.ng-hide-add-active {
    transform: translateX(240px);
    -ms-transform: translateX(240px);
    -webkit-transform: translateX(240px);
    opacity: 0; }
  .bouncy-slide-right.ng-hide-remove {
    transform: translateX(240px);
    -ms-transform: translateX(240px);
    -webkit-transform: translateX(240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .bouncy-slide-right.ng-hide-remove.ng-hide-remove-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Bouncy Slide Left
/* ------------------------------------------- */
.bouncy-slide-left {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }
  .bouncy-slide-left.ng-enter {
    transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -webkit-transform: translateX(-240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .bouncy-slide-left.ng-enter-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }
  .bouncy-slide-left.ng-leave {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-left.ng-leave-active {
    transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -webkit-transform: translateX(-240px);
    opacity: 0; }
  .bouncy-slide-left.ng-hide-add {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-left.ng-hide-add.ng-hide-add-active {
    transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -webkit-transform: translateX(-240px);
    opacity: 0; }
  .bouncy-slide-left.ng-hide-remove {
    transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -webkit-transform: translateX(-240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .bouncy-slide-left.ng-hide-remove.ng-hide-remove-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Bouncy Slide Down
/* ------------------------------------------- */
.bouncy-slide-down {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }
  .bouncy-slide-down.ng-enter {
    transform: translateY(-240px);
    -ms-transform: translateY(-240px);
    -webkit-transform: translateY(-240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .bouncy-slide-down.ng-enter-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }
  .bouncy-slide-down.ng-leave {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-down.ng-leave-active {
    transform: translateY(-240px);
    -ms-transform: translateY(-240px);
    -webkit-transform: translateY(-240px);
    opacity: 0; }
  .bouncy-slide-down.ng-hide-add {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-down.ng-hide-add.ng-hide-add-active {
    transform: translateY(-240px);
    -ms-transform: translateY(-240px);
    -webkit-transform: translateY(-240px);
    opacity: 0; }
  .bouncy-slide-down.ng-hide-remove {
    transform: translateY(-240px);
    -ms-transform: translateY(-240px);
    -webkit-transform: translateY(-240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .bouncy-slide-down.ng-hide-remove.ng-hide-remove-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Scale Fade
/* ------------------------------------------- */
.scale-fade {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .scale-fade.ng-enter {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .scale-fade.ng-enter-active {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; }
  .scale-fade.ng-leave {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .scale-fade.ng-leave-active {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    opacity: 0; }
  .scale-fade.ng-hide-add {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .scale-fade.ng-hide-add.ng-hide-add-active {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    opacity: 0; }
  .scale-fade.ng-hide-remove {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .scale-fade.ng-hide-remove.ng-hide-remove-active {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; }

/* ------------------------------------------- */
/* Spin Fade
/* ------------------------------------------- */
.spin-toggle {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .spin-toggle.ng-enter {
    transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .spin-toggle.ng-enter-active {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    opacity: 1; }
  .spin-toggle.ng-leave {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .spin-toggle.ng-leave-active {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    opacity: 0; }
  .spin-toggle.ng-hide-add {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .spin-toggle.ng-hide-add.ng-hide-add-active {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    opacity: 0; }
  .spin-toggle.ng-hide-remove {
    transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .spin-toggle.ng-hide-remove.ng-hide-remove-active {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    opacity: 1; }

/* ------------------------------------------- */
/* Scale in Fade
/* ------------------------------------------- */
.scale-fade-in {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .scale-fade-in.ng-enter {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .scale-fade-in.ng-enter-active {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; }
  .scale-fade-in.ng-leave {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .scale-fade-in.ng-leave-active {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    opacity: 0; }
  .scale-fade-in.ng-hide-add {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .scale-fade-in.ng-hide-add.ng-hide-add-active {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    opacity: 0; }
  .scale-fade-in.ng-hide-remove {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .scale-fade-in.ng-hide-remove.ng-hide-remove-active {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; }

/* ------------------------------------------- */
/* Bouncy Scale in Fade
/* ------------------------------------------- */
.bouncy-scale-in {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }
  .bouncy-scale-in.ng-enter {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    transition-duration: 450ms;
    -webkit-transition-duration: 450ms;
    opacity: 0; }
  .bouncy-scale-in.ng-enter-active {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; }
  .bouncy-scale-in.ng-leave {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transition-duration: 450ms;
    -webkit-transition-duration: 450ms;
    opacity: 1; }
  .bouncy-scale-in.ng-leave-active {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    opacity: 0; }
  .bouncy-scale-in.ng-hide-add {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transition-duration: 450ms;
    -webkit-transition-duration: 450ms;
    opacity: 1; }
  .bouncy-scale-in.ng-hide-add.ng-hide-add-active {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    opacity: 0; }
  .bouncy-scale-in.ng-hide-remove {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    transition-duration: 450ms;
    -webkit-transition-duration: 450ms;
    display: block !important;
    opacity: 0; }
  .bouncy-scale-in.ng-hide-remove.ng-hide-remove-active {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; }

/* ------------------------------------------- */
/* Flip In
/* ------------------------------------------- */
.flip-in {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .flip-in.ng-enter {
    transform: perspective(300px) rotateX(90deg);
    -ms-transform: perspective(300px) rotateX(90deg);
    -webkit-transform: perspective(300px) rotateX(90deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    opacity: 0.7; }
  .flip-in.ng-enter-active {
    transform: perspective(300px) rotateX(0deg);
    -ms-transform: perspective(300px) rotateX(0deg);
    -webkit-transform: perspective(300px) rotateX(0deg);
    opacity: 1; }
  .flip-in.ng-leave {
    transform: perspective(300px) rotateX(0deg);
    -ms-transform: perspective(300px) rotateX(0deg);
    -webkit-transform: perspective(300px) rotateX(0deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    opacity: 1; }
  .flip-in.ng-leave-active {
    transform: perspective(300px) rotateX(135deg);
    -ms-transform: perspective(300px) rotateX(135deg);
    -webkit-transform: perspective(300px) rotateX(135deg);
    opacity: 0.7; }
  .flip-in.ng-hide-add {
    transform: perspective(300px) rotateX(0deg);
    -ms-transform: perspective(300px) rotateX(0deg);
    -webkit-transform: perspective(300px) rotateX(0deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    opacity: 1; }
  .flip-in.ng-hide-add.ng-hide-add-active {
    transform: perspective(300px) rotateX(135deg);
    -ms-transform: perspective(300px) rotateX(135deg);
    -webkit-transform: perspective(300px) rotateX(135deg);
    opacity: 0; }
  .flip-in.ng-hide-remove {
    transform: perspective(300px) rotateX(90deg);
    -ms-transform: perspective(300px) rotateX(90deg);
    -webkit-transform: perspective(300px) rotateX(90deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    display: block !important;
    opacity: 0; }
  .flip-in.ng-hide-remove.ng-hide-remove-active {
    transform: perspective(300px) rotateX(0deg);
    -ms-transform: perspective(300px) rotateX(0deg);
    -webkit-transform: perspective(300px) rotateX(0deg);
    opacity: 1; }

/* ------------------------------------------- */
/* Rotate In
/* ------------------------------------------- */
.rotate-in {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }
  .rotate-in.ng-enter {
    transform: perspective(300px) rotateY(40deg);
    -ms-transform: perspective(300px) rotateY(40deg);
    -webkit-transform: perspective(300px) rotateY(40deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    opacity: 0.7; }
  .rotate-in.ng-enter-active {
    transform: perspective(300px) rotateY(0deg);
    -ms-transform: perspective(300px) rotateY(0deg);
    -webkit-transform: perspective(300px) rotateY(0deg);
    opacity: 1; }
  .rotate-in.ng-leave {
    transform: perspective(300px) rotateY(0deg);
    -ms-transform: perspective(300px) rotateY(0deg);
    -webkit-transform: perspective(300px) rotateY(0deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    opacity: 1; }
  .rotate-in.ng-leave-active {
    transform: perspective(300px) rotateY(-40deg);
    -ms-transform: perspective(300px) rotateY(-40deg);
    -webkit-transform: perspective(300px) rotateY(-40deg);
    opacity: 0.7; }
  .rotate-in.ng-hide-add {
    transform: perspective(300px) rotateY(0deg);
    -ms-transform: perspective(300px) rotateY(0deg);
    -webkit-transform: perspective(300px) rotateY(0deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    opacity: 1; }
  .rotate-in.ng-hide-add.ng-hide-add-active {
    transform: perspective(300px) rotateY(-40deg);
    -ms-transform: perspective(300px) rotateY(-40deg);
    -webkit-transform: perspective(300px) rotateY(-40deg);
    opacity: 0; }
  .rotate-in.ng-hide-remove {
    transform: perspective(300px) rotateY(40deg);
    -ms-transform: perspective(300px) rotateY(40deg);
    -webkit-transform: perspective(300px) rotateY(40deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    display: block !important;
    opacity: 0; }
  .rotate-in.ng-hide-remove.ng-hide-remove-active {
    transform: perspective(300px) rotateY(0deg);
    -ms-transform: perspective(300px) rotateY(0deg);
    -webkit-transform: perspective(300px) rotateY(0deg);
    opacity: 1; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif; }

.main-sidebar {
  position: fixed;
  width: 350px;
  float: left;
  height: 100%; }

.main-sidebar > .main-sidebar-menu {
  transition: all 0.2s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #2980b9;
  color: white;
  height: 100%;
  overflow: auto;
  position: relative;
  left: 0%; }

.main-sidebar-menu > .menu-item:hover {
  color: #2980b9;
  background-color: white; }

.main-sidebar-menu > .menu-item {
  transition: all 0.2s;
  padding: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #3498db;
  font-weight: 600; }
  .main-sidebar-menu > .menu-item i {
    transition: all 0.2s;
    margin-left: auto;
    right: 0;
    position: relative;
    font-size: 20px; }
  .main-sidebar-menu > .menu-item:hover i {
    right: 20px; }

.main-container > header {
  min-height: 46px;
  background-color: #2980b9;
  grid-column: 1 / span 6;
  grid-row: 1; }

.main-container {
  float: right;
  width: calc(100% - 350px);
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto;
  grid-row: 1 / span 2;
  grid-template-columns: repeat(6, 1fr); }

.main-container > .body {
  grid-column: 1 / span 6;
  padding: 15px; }

.main-container > header {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.grid-list {
  grid-column: 1 / span 6;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
  margin-bottom: 15px; }
  .grid-list .headers {
    display: none; }
  .grid-list .row.data {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-flow: column;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #eeeeee;
    padding: 15px; }
    .grid-list .row.data [data-header]:before {
      content: attr(data-header);
      display: block;
      margin-bottom: 7.5px;
      font-weight: 600; }
    .grid-list .row.data [data-header]:last-child {
      margin-bottom: 0; }
    .grid-list .row.data .actions {
      margin-top: auto; }
    .grid-list .row.data [data-header] {
      display: block;
      margin-bottom: 15px; }
      .grid-list .row.data [data-header] .text {
        line-height: 120%; }
      .grid-list .row.data [data-header] media {
        box-shadow: none;
        display: block;
        position: relative;
        left: -15px;
        width: calc(100% + 30px);
        margin-top: 15px; }
        .grid-list .row.data [data-header] media .no-preview-available {
          display: grid;
          align-items: center;
          text-align: center;
          background: #2d3436;
          color: white;
          height: 100%; }
        .grid-list .row.data [data-header] media .title {
          display: none; }
  .grid-list .grid-list-item.item-preview, .grid-list media {
    display: grid;
    grid-template-rows: min-content auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .grid-list .grid-list-item.item-preview:hover > .title, .grid-list media:hover > .title {
      background: #3498db;
      color: #212121; }
    .grid-list .grid-list-item.item-preview .title, .grid-list media .title {
      transition: all 0.2s;
      background: #3d3d3d;
      line-height: 22px;
      color: white;
      padding: 15px; }
    .grid-list .grid-list-item.item-preview figure, .grid-list media figure {
      overflow: hidden;
      position: relative;
      height: 200px; }
    .grid-list .grid-list-item.item-preview figure:empty, .grid-list media figure:empty {
      display: none; }
    .grid-list .grid-list-item.item-preview figure:hover .animation-image, .grid-list media figure:hover .animation-image {
      transform: scale(1);
      opacity: 1; }
    .grid-list .grid-list-item.item-preview .animation-image, .grid-list media .animation-image {
      transition: opacity 0.4s ease-in-out, transform 0.2s ease-in-out, filter 0.2s ease-in-out;
      opacity: 0;
      transform: scale(1.5) rotate(5deg);
      filter: contrast(150%);
      position: absolute;
      top: 0;
      right: 0;
      left: 0; }

heading .main-title {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 300;
  color: #3498db;
  border-bottom: 1px solid #3498db;
  line-height: 150%; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
button {
  min-width: 45px;
  font-family: "Open Sans", sans-serif;
  transition: all 0.2s;
  font-weight: 600;
  border: 0;
  display: inline-block;
  font-size: 15px;
  padding: 7.5px;
  background-color: #2980b9;
  color: white; }
  button:hover {
    background-color: #3498db;
    color: black; }
  button .spinner i {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }

btn button:not(.loading) i {
  margin-left: 5px; }

.form-grid {
  margin-bottom: 15px;
  display: grid;
  grid-gap: 15px; }
  .form-grid form-actions {
    text-align: right; }
  .form-grid .form-cell .checkbox-options, .form-grid .form-cell .radio-options, .form-grid field .checkbox-options, .form-grid field .radio-options, .form-grid field-select .checkbox-options, .form-grid field-select .radio-options, .form-grid field-options .checkbox-options, .form-grid field-options .radio-options {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); }
    .form-grid .form-cell .checkbox-options .checkbox-option, .form-grid .form-cell .checkbox-options .radio-option, .form-grid .form-cell .radio-options .checkbox-option, .form-grid .form-cell .radio-options .radio-option, .form-grid field .checkbox-options .checkbox-option, .form-grid field .checkbox-options .radio-option, .form-grid field .radio-options .checkbox-option, .form-grid field .radio-options .radio-option, .form-grid field-select .checkbox-options .checkbox-option, .form-grid field-select .checkbox-options .radio-option, .form-grid field-select .radio-options .checkbox-option, .form-grid field-select .radio-options .radio-option, .form-grid field-options .checkbox-options .checkbox-option, .form-grid field-options .checkbox-options .radio-option, .form-grid field-options .radio-options .checkbox-option, .form-grid field-options .radio-options .radio-option {
      display: flex; }
      .form-grid .form-cell .checkbox-options .checkbox-option input, .form-grid .form-cell .checkbox-options .radio-option input, .form-grid .form-cell .radio-options .checkbox-option input, .form-grid .form-cell .radio-options .radio-option input, .form-grid field .checkbox-options .checkbox-option input, .form-grid field .checkbox-options .radio-option input, .form-grid field .radio-options .checkbox-option input, .form-grid field .radio-options .radio-option input, .form-grid field-select .checkbox-options .checkbox-option input, .form-grid field-select .checkbox-options .radio-option input, .form-grid field-select .radio-options .checkbox-option input, .form-grid field-select .radio-options .radio-option input, .form-grid field-options .checkbox-options .checkbox-option input, .form-grid field-options .checkbox-options .radio-option input, .form-grid field-options .radio-options .checkbox-option input, .form-grid field-options .radio-options .radio-option input {
        border-bottom: none;
        display: inline-block;
        margin-left: auto;
        width: auto;
        position: absolute;
        opacity: 0; }
      .form-grid .form-cell .checkbox-options .checkbox-option label, .form-grid .form-cell .checkbox-options .radio-option label, .form-grid .form-cell .radio-options .checkbox-option label, .form-grid .form-cell .radio-options .radio-option label, .form-grid field .checkbox-options .checkbox-option label, .form-grid field .checkbox-options .radio-option label, .form-grid field .radio-options .checkbox-option label, .form-grid field .radio-options .radio-option label, .form-grid field-select .checkbox-options .checkbox-option label, .form-grid field-select .checkbox-options .radio-option label, .form-grid field-select .radio-options .checkbox-option label, .form-grid field-select .radio-options .radio-option label, .form-grid field-options .checkbox-options .checkbox-option label, .form-grid field-options .checkbox-options .radio-option label, .form-grid field-options .radio-options .checkbox-option label, .form-grid field-options .radio-options .radio-option label {
        cursor: pointer;
        width: auto;
        font-size: 15px;
        color: black;
        display: inline-block; }
      .form-grid .form-cell .checkbox-options .checkbox-option label.dummy, .form-grid .form-cell .checkbox-options .radio-option label.dummy, .form-grid .form-cell .radio-options .checkbox-option label.dummy, .form-grid .form-cell .radio-options .radio-option label.dummy, .form-grid field .checkbox-options .checkbox-option label.dummy, .form-grid field .checkbox-options .radio-option label.dummy, .form-grid field .radio-options .checkbox-option label.dummy, .form-grid field .radio-options .radio-option label.dummy, .form-grid field-select .checkbox-options .checkbox-option label.dummy, .form-grid field-select .checkbox-options .radio-option label.dummy, .form-grid field-select .radio-options .checkbox-option label.dummy, .form-grid field-select .radio-options .radio-option label.dummy, .form-grid field-options .checkbox-options .checkbox-option label.dummy, .form-grid field-options .checkbox-options .radio-option label.dummy, .form-grid field-options .radio-options .checkbox-option label.dummy, .form-grid field-options .radio-options .radio-option label.dummy {
        cursor: pointer;
        padding: 0;
        margin: 0;
        margin-left: auto;
        border: 0; }
      .form-grid .form-cell .checkbox-options .checkbox-option label.dummy.not-checked, .form-grid .form-cell .checkbox-options .radio-option label.dummy.not-checked, .form-grid .form-cell .radio-options .checkbox-option label.dummy.not-checked, .form-grid .form-cell .radio-options .radio-option label.dummy.not-checked, .form-grid field .checkbox-options .checkbox-option label.dummy.not-checked, .form-grid field .checkbox-options .radio-option label.dummy.not-checked, .form-grid field .radio-options .checkbox-option label.dummy.not-checked, .form-grid field .radio-options .radio-option label.dummy.not-checked, .form-grid field-select .checkbox-options .checkbox-option label.dummy.not-checked, .form-grid field-select .checkbox-options .radio-option label.dummy.not-checked, .form-grid field-select .radio-options .checkbox-option label.dummy.not-checked, .form-grid field-select .radio-options .radio-option label.dummy.not-checked, .form-grid field-options .checkbox-options .checkbox-option label.dummy.not-checked, .form-grid field-options .checkbox-options .radio-option label.dummy.not-checked, .form-grid field-options .radio-options .checkbox-option label.dummy.not-checked, .form-grid field-options .radio-options .radio-option label.dummy.not-checked {
        display: block; }
      .form-grid .form-cell .checkbox-options .checkbox-option label.dummy.checked, .form-grid .form-cell .checkbox-options .radio-option label.dummy.checked, .form-grid .form-cell .radio-options .checkbox-option label.dummy.checked, .form-grid .form-cell .radio-options .radio-option label.dummy.checked, .form-grid field .checkbox-options .checkbox-option label.dummy.checked, .form-grid field .checkbox-options .radio-option label.dummy.checked, .form-grid field .radio-options .checkbox-option label.dummy.checked, .form-grid field .radio-options .radio-option label.dummy.checked, .form-grid field-select .checkbox-options .checkbox-option label.dummy.checked, .form-grid field-select .checkbox-options .radio-option label.dummy.checked, .form-grid field-select .radio-options .checkbox-option label.dummy.checked, .form-grid field-select .radio-options .radio-option label.dummy.checked, .form-grid field-options .checkbox-options .checkbox-option label.dummy.checked, .form-grid field-options .checkbox-options .radio-option label.dummy.checked, .form-grid field-options .radio-options .checkbox-option label.dummy.checked, .form-grid field-options .radio-options .radio-option label.dummy.checked {
        display: none; }
      .form-grid .form-cell .checkbox-options .checkbox-option input:checked ~ label.dummy.checked, .form-grid .form-cell .checkbox-options .radio-option input:checked ~ label.dummy.checked, .form-grid .form-cell .radio-options .checkbox-option input:checked ~ label.dummy.checked, .form-grid .form-cell .radio-options .radio-option input:checked ~ label.dummy.checked, .form-grid field .checkbox-options .checkbox-option input:checked ~ label.dummy.checked, .form-grid field .checkbox-options .radio-option input:checked ~ label.dummy.checked, .form-grid field .radio-options .checkbox-option input:checked ~ label.dummy.checked, .form-grid field .radio-options .radio-option input:checked ~ label.dummy.checked, .form-grid field-select .checkbox-options .checkbox-option input:checked ~ label.dummy.checked, .form-grid field-select .checkbox-options .radio-option input:checked ~ label.dummy.checked, .form-grid field-select .radio-options .checkbox-option input:checked ~ label.dummy.checked, .form-grid field-select .radio-options .radio-option input:checked ~ label.dummy.checked, .form-grid field-options .checkbox-options .checkbox-option input:checked ~ label.dummy.checked, .form-grid field-options .checkbox-options .radio-option input:checked ~ label.dummy.checked, .form-grid field-options .radio-options .checkbox-option input:checked ~ label.dummy.checked, .form-grid field-options .radio-options .radio-option input:checked ~ label.dummy.checked {
        display: block; }
      .form-grid .form-cell .checkbox-options .checkbox-option input:checked ~ label.dummy.not-checked, .form-grid .form-cell .checkbox-options .radio-option input:checked ~ label.dummy.not-checked, .form-grid .form-cell .radio-options .checkbox-option input:checked ~ label.dummy.not-checked, .form-grid .form-cell .radio-options .radio-option input:checked ~ label.dummy.not-checked, .form-grid field .checkbox-options .checkbox-option input:checked ~ label.dummy.not-checked, .form-grid field .checkbox-options .radio-option input:checked ~ label.dummy.not-checked, .form-grid field .radio-options .checkbox-option input:checked ~ label.dummy.not-checked, .form-grid field .radio-options .radio-option input:checked ~ label.dummy.not-checked, .form-grid field-select .checkbox-options .checkbox-option input:checked ~ label.dummy.not-checked, .form-grid field-select .checkbox-options .radio-option input:checked ~ label.dummy.not-checked, .form-grid field-select .radio-options .checkbox-option input:checked ~ label.dummy.not-checked, .form-grid field-select .radio-options .radio-option input:checked ~ label.dummy.not-checked, .form-grid field-options .checkbox-options .checkbox-option input:checked ~ label.dummy.not-checked, .form-grid field-options .checkbox-options .radio-option input:checked ~ label.dummy.not-checked, .form-grid field-options .radio-options .checkbox-option input:checked ~ label.dummy.not-checked, .form-grid field-options .radio-options .radio-option input:checked ~ label.dummy.not-checked {
        display: none; }
  .form-grid .form-cell label, .form-grid .form-cell label + *, .form-grid field label, .form-grid field label + *, .form-grid field-select label, .form-grid field-select label + *, .form-grid field-options label, .form-grid field-options label + * {
    display: block;
    width: 100%;
    font-size: 18px; }
  .form-grid .form-cell label + *, .form-grid field label + *, .form-grid field-select label + *, .form-grid field-options label + * {
    font-family: "Open Sans", sans-serif;
    padding: 5px;
    padding-left: 0;
    padding-right: 0;
    border: 0;
    border-bottom: 1px solid #2980b9;
    outline: 0; }
  .form-grid .form-cell label, .form-grid field label, .form-grid field-select label, .form-grid field-options label {
    font-weight: 600;
    color: #2980b9;
    margin-bottom: 7.5px; }

b {
  font-weight: 600; }

img, iframe, video {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%; }

dataset > .table {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: grid;
  margin-bottom: 15px; }
  dataset > .table .actions .actions-dropdown .action {
    margin-bottom: 7.5px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s; }
    dataset > .table .actions .actions-dropdown .action:hover {
      color: #2980b9; }
    dataset > .table .actions .actions-dropdown .action:last-child {
      margin-bottom: 0; }
  dataset > .table .row.data {
    border-bottom: 1px solid #bdbdbd; }
    dataset > .table .row.data media {
      display: block; }
      dataset > .table .row.data media .title {
        display: none; }
    dataset > .table .row.data:last-child {
      border-bottom: none; }
  dataset > .table .headers, dataset > .table .data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr)); }
    dataset > .table .headers .col, dataset > .table .data .col {
      align-items: center;
      display: grid;
      padding: 7.5px; }
      dataset > .table .headers .col .text, dataset > .table .data .col .text {
        line-height: 125%; }
      dataset > .table .headers .col.header, dataset > .table .data .col.header {
        background: #2980b9;
        color: white;
        font-weight: 600; }
      dataset > .table .headers .col.col:not(.header), dataset > .table .data .col.col:not(.header) {
        background: #eeeeee;
        border-right: 1px solid #bdbdbd; }
        dataset > .table .headers .col.col:not(.header):last-child, dataset > .table .data .col.col:not(.header):last-child {
          border-right: none; }

pager {
  display: flex;
  cursor: pointer;
  text-align: center;
  margin-bottom: 15px; }
  pager .page {
    font-weight: 300; }
    pager .page.active {
      font-weight: 600;
      color: #2980b9; }
  pager a {
    background-color: #eeeeee;
    padding: 10px; }
    pager a:hover {
      color: white !important;
      background-color: #2980b9; }
  pager .next {
    margin-right: auto; }
  pager .prev.disabled, pager .next.disabled {
    pointer-events: none;
    opacity: 0.5; }

dropdown {
  user-select: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  display: block;
  width: 100%;
  font-weight: 600;
  background: #2980b9;
  color: white; }
  dropdown .opened {
    background-color: #3498db; }
    dropdown .opened i {
      transform: rotate(180deg); }
  dropdown:hover {
    background-color: #3498db; }
  dropdown .dropdown-item, dropdown .collapsed-items > * {
    cursor: pointer;
    padding: 10px;
    display: flex;
    width: 100%; }
    dropdown .dropdown-item i, dropdown .collapsed-items > * i {
      transition: all 0.2s;
      margin-left: auto; }
  dropdown .collapsed-items {
    z-index: 2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: absolute;
    left: 0;
    right: 0; }
    dropdown .collapsed-items > *:hover {
      color: #2980b9;
      background-color: white; }
    dropdown .collapsed-items > * {
      transition: all 0.2s;
      background: #eeeeee;
      color: black;
      font-weight: 300; }

lightbox .main-title {
  border-bottom: 0;
  font-size: 25px; }
lightbox .lighbox {
  z-index: 3;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%; }
  lightbox .lighbox .lightbox-container {
    width: auto;
    padding: 15px;
    background: white;
    margin: auto; }
    lightbox .lighbox .lightbox-container .close {
      cursor: pointer;
      float: left;
      width: 100%;
      text-align: right;
      margin-bottom: 7.5px;
      font-size: 20px; }

a {
  text-decoration: none;
  color: inherit; }

field-upload .file-dropbox {
  background: #eeeeee;
  color: #3498db;
  width: 100%;
  position: relative;
  display: flex;
  height: 150px;
  align-items: center; }
  field-upload .file-dropbox .text {
    margin: auto; }
  field-upload .file-dropbox [type='file'] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; }

/*# sourceMappingURL=main.css.map */
