/* ------------------------------------------- */
/* Mixins
/* ------------------------------------------- */
/* ------------------------------------------- */
/* Toggle Fade
/* ------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
.toggle {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .toggle.ng-enter {
    opacity: 0;
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms; }
  .toggle.ng-enter-active {
    opacity: 1; }
  .toggle.ng-leave {
    opacity: 1;
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms; }
  .toggle.ng-leave-active {
    opacity: 0; }
  .toggle.ng-hide-add {
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .toggle.ng-hide-add.ng-hide-add-active {
    opacity: 0; }
  .toggle.ng-hide-remove {
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .toggle.ng-hide-remove.ng-hide-remove-active {
    opacity: 1; }

/* ------------------------------------------- */
/* Slide Top
/* ------------------------------------------- */
.slide-top {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .slide-top.ng-enter {
    transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .slide-top.ng-enter-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }
  .slide-top.ng-leave {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-top.ng-leave-active {
    transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    opacity: 0; }
  .slide-top.ng-hide-add {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-top.ng-hide-add.ng-hide-add-active {
    transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    opacity: 0; }
  .slide-top.ng-hide-remove {
    transform: translateY(60px);
    -ms-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .slide-top.ng-hide-remove.ng-hide-remove-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Slide Rigth
/* ------------------------------------------- */
.slide-right {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .slide-right.ng-enter {
    transform: translateX(60px);
    -ms-transform: translateX(60px);
    -webkit-transform: translateX(60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .slide-right.ng-enter-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }
  .slide-right.ng-leave {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-right.ng-leave-active {
    transform: translateX(60px);
    -ms-transform: translateX(60px);
    -webkit-transform: translateX(60px);
    opacity: 0; }
  .slide-right.ng-hide-add {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-right.ng-hide-add.ng-hide-add-active {
    transform: translateX(60px);
    -ms-transform: translateX(60px);
    -webkit-transform: translateX(60px);
    opacity: 0; }
  .slide-right.ng-hide-remove {
    transform: translateX(60px);
    -ms-transform: translateX(60px);
    -webkit-transform: translateX(60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .slide-right.ng-hide-remove.ng-hide-remove-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Slide Left
/* ------------------------------------------- */
.slide-left {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .slide-left.ng-enter {
    transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .slide-left.ng-enter-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }
  .slide-left.ng-leave {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-left.ng-leave-active {
    transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    opacity: 0; }
  .slide-left.ng-hide-add {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-left.ng-hide-add.ng-hide-add-active {
    transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    opacity: 0; }
  .slide-left.ng-hide-remove {
    transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .slide-left.ng-hide-remove.ng-hide-remove-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Slide Down
/* ------------------------------------------- */
.slide-down {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .slide-down.ng-enter {
    transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .slide-down.ng-enter-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }
  .slide-down.ng-leave {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-down.ng-leave-active {
    transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    opacity: 0; }
  .slide-down.ng-hide-add {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .slide-down.ng-hide-add.ng-hide-add-active {
    transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    opacity: 0; }
  .slide-down.ng-hide-remove {
    transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .slide-down.ng-hide-remove.ng-hide-remove-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Bouncy Slide Top
/* ------------------------------------------- */
.bouncy-slide-top {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }
  .bouncy-slide-top.ng-enter {
    transform: translateY(240px);
    -ms-transform: translateY(240px);
    -webkit-transform: translateY(240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .bouncy-slide-top.ng-enter-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }
  .bouncy-slide-top.ng-leave {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-top.ng-leave-active {
    transform: translateY(240px);
    -ms-transform: translateY(240px);
    -webkit-transform: translateY(240px);
    opacity: 0; }
  .bouncy-slide-top.ng-hide-add {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-top.ng-hide-add.ng-hide-add-active {
    transform: translateY(240px);
    -ms-transform: translateY(240px);
    -webkit-transform: translateY(240px);
    opacity: 0; }
  .bouncy-slide-top.ng-hide-remove {
    transform: translateY(240px);
    -ms-transform: translateY(240px);
    -webkit-transform: translateY(240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .bouncy-slide-top.ng-hide-remove.ng-hide-remove-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Bouncy Slide Rigth
/* ------------------------------------------- */
.bouncy-slide-right {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }
  .bouncy-slide-right.ng-enter {
    transform: translateX(240px);
    -ms-transform: translateX(240px);
    -webkit-transform: translateX(240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .bouncy-slide-right.ng-enter-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }
  .bouncy-slide-right.ng-leave {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-right.ng-leave-active {
    transform: translateX(240px);
    -ms-transform: translateX(240px);
    -webkit-transform: translateX(240px);
    opacity: 0; }
  .bouncy-slide-right.ng-hide-add {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-right.ng-hide-add.ng-hide-add-active {
    transform: translateX(240px);
    -ms-transform: translateX(240px);
    -webkit-transform: translateX(240px);
    opacity: 0; }
  .bouncy-slide-right.ng-hide-remove {
    transform: translateX(240px);
    -ms-transform: translateX(240px);
    -webkit-transform: translateX(240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .bouncy-slide-right.ng-hide-remove.ng-hide-remove-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Bouncy Slide Left
/* ------------------------------------------- */
.bouncy-slide-left {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }
  .bouncy-slide-left.ng-enter {
    transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -webkit-transform: translateX(-240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .bouncy-slide-left.ng-enter-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }
  .bouncy-slide-left.ng-leave {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-left.ng-leave-active {
    transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -webkit-transform: translateX(-240px);
    opacity: 0; }
  .bouncy-slide-left.ng-hide-add {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-left.ng-hide-add.ng-hide-add-active {
    transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -webkit-transform: translateX(-240px);
    opacity: 0; }
  .bouncy-slide-left.ng-hide-remove {
    transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -webkit-transform: translateX(-240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .bouncy-slide-left.ng-hide-remove.ng-hide-remove-active {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Bouncy Slide Down
/* ------------------------------------------- */
.bouncy-slide-down {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }
  .bouncy-slide-down.ng-enter {
    transform: translateY(-240px);
    -ms-transform: translateY(-240px);
    -webkit-transform: translateY(-240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .bouncy-slide-down.ng-enter-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }
  .bouncy-slide-down.ng-leave {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-down.ng-leave-active {
    transform: translateY(-240px);
    -ms-transform: translateY(-240px);
    -webkit-transform: translateY(-240px);
    opacity: 0; }
  .bouncy-slide-down.ng-hide-add {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .bouncy-slide-down.ng-hide-add.ng-hide-add-active {
    transform: translateY(-240px);
    -ms-transform: translateY(-240px);
    -webkit-transform: translateY(-240px);
    opacity: 0; }
  .bouncy-slide-down.ng-hide-remove {
    transform: translateY(-240px);
    -ms-transform: translateY(-240px);
    -webkit-transform: translateY(-240px);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .bouncy-slide-down.ng-hide-remove.ng-hide-remove-active {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1; }

/* ------------------------------------------- */
/* Scale Fade
/* ------------------------------------------- */
.scale-fade {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .scale-fade.ng-enter {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .scale-fade.ng-enter-active {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; }
  .scale-fade.ng-leave {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .scale-fade.ng-leave-active {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    opacity: 0; }
  .scale-fade.ng-hide-add {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .scale-fade.ng-hide-add.ng-hide-add-active {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    opacity: 0; }
  .scale-fade.ng-hide-remove {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .scale-fade.ng-hide-remove.ng-hide-remove-active {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; }

/* ------------------------------------------- */
/* Spin Fade
/* ------------------------------------------- */
.spin-toggle {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .spin-toggle.ng-enter {
    transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .spin-toggle.ng-enter-active {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    opacity: 1; }
  .spin-toggle.ng-leave {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .spin-toggle.ng-leave-active {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    opacity: 0; }
  .spin-toggle.ng-hide-add {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .spin-toggle.ng-hide-add.ng-hide-add-active {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    opacity: 0; }
  .spin-toggle.ng-hide-remove {
    transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .spin-toggle.ng-hide-remove.ng-hide-remove-active {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    opacity: 1; }

/* ------------------------------------------- */
/* Scale in Fade
/* ------------------------------------------- */
.scale-fade-in {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .scale-fade-in.ng-enter {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 0; }
  .scale-fade-in.ng-enter-active {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; }
  .scale-fade-in.ng-leave {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .scale-fade-in.ng-leave-active {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    opacity: 0; }
  .scale-fade-in.ng-hide-add {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    opacity: 1; }
  .scale-fade-in.ng-hide-add.ng-hide-add-active {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    opacity: 0; }
  .scale-fade-in.ng-hide-remove {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    display: block !important;
    opacity: 0; }
  .scale-fade-in.ng-hide-remove.ng-hide-remove-active {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; }

/* ------------------------------------------- */
/* Bouncy Scale in Fade
/* ------------------------------------------- */
.bouncy-scale-in {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }
  .bouncy-scale-in.ng-enter {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    transition-duration: 450ms;
    -webkit-transition-duration: 450ms;
    opacity: 0; }
  .bouncy-scale-in.ng-enter-active {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; }
  .bouncy-scale-in.ng-leave {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transition-duration: 450ms;
    -webkit-transition-duration: 450ms;
    opacity: 1; }
  .bouncy-scale-in.ng-leave-active {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    opacity: 0; }
  .bouncy-scale-in.ng-hide-add {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transition-duration: 450ms;
    -webkit-transition-duration: 450ms;
    opacity: 1; }
  .bouncy-scale-in.ng-hide-add.ng-hide-add-active {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    opacity: 0; }
  .bouncy-scale-in.ng-hide-remove {
    transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    transition-duration: 450ms;
    -webkit-transition-duration: 450ms;
    display: block !important;
    opacity: 0; }
  .bouncy-scale-in.ng-hide-remove.ng-hide-remove-active {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; }

/* ------------------------------------------- */
/* Flip In
/* ------------------------------------------- */
.flip-in {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }
  .flip-in.ng-enter {
    transform: perspective(300px) rotateX(90deg);
    -ms-transform: perspective(300px) rotateX(90deg);
    -webkit-transform: perspective(300px) rotateX(90deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    opacity: 0.7; }
  .flip-in.ng-enter-active {
    transform: perspective(300px) rotateX(0deg);
    -ms-transform: perspective(300px) rotateX(0deg);
    -webkit-transform: perspective(300px) rotateX(0deg);
    opacity: 1; }
  .flip-in.ng-leave {
    transform: perspective(300px) rotateX(0deg);
    -ms-transform: perspective(300px) rotateX(0deg);
    -webkit-transform: perspective(300px) rotateX(0deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    opacity: 1; }
  .flip-in.ng-leave-active {
    transform: perspective(300px) rotateX(135deg);
    -ms-transform: perspective(300px) rotateX(135deg);
    -webkit-transform: perspective(300px) rotateX(135deg);
    opacity: 0.7; }
  .flip-in.ng-hide-add {
    transform: perspective(300px) rotateX(0deg);
    -ms-transform: perspective(300px) rotateX(0deg);
    -webkit-transform: perspective(300px) rotateX(0deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    opacity: 1; }
  .flip-in.ng-hide-add.ng-hide-add-active {
    transform: perspective(300px) rotateX(135deg);
    -ms-transform: perspective(300px) rotateX(135deg);
    -webkit-transform: perspective(300px) rotateX(135deg);
    opacity: 0; }
  .flip-in.ng-hide-remove {
    transform: perspective(300px) rotateX(90deg);
    -ms-transform: perspective(300px) rotateX(90deg);
    -webkit-transform: perspective(300px) rotateX(90deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    display: block !important;
    opacity: 0; }
  .flip-in.ng-hide-remove.ng-hide-remove-active {
    transform: perspective(300px) rotateX(0deg);
    -ms-transform: perspective(300px) rotateX(0deg);
    -webkit-transform: perspective(300px) rotateX(0deg);
    opacity: 1; }

/* ------------------------------------------- */
/* Rotate In
/* ------------------------------------------- */
.rotate-in {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }
  .rotate-in.ng-enter {
    transform: perspective(300px) rotateY(40deg);
    -ms-transform: perspective(300px) rotateY(40deg);
    -webkit-transform: perspective(300px) rotateY(40deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    opacity: 0.7; }
  .rotate-in.ng-enter-active {
    transform: perspective(300px) rotateY(0deg);
    -ms-transform: perspective(300px) rotateY(0deg);
    -webkit-transform: perspective(300px) rotateY(0deg);
    opacity: 1; }
  .rotate-in.ng-leave {
    transform: perspective(300px) rotateY(0deg);
    -ms-transform: perspective(300px) rotateY(0deg);
    -webkit-transform: perspective(300px) rotateY(0deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    opacity: 1; }
  .rotate-in.ng-leave-active {
    transform: perspective(300px) rotateY(-40deg);
    -ms-transform: perspective(300px) rotateY(-40deg);
    -webkit-transform: perspective(300px) rotateY(-40deg);
    opacity: 0.7; }
  .rotate-in.ng-hide-add {
    transform: perspective(300px) rotateY(0deg);
    -ms-transform: perspective(300px) rotateY(0deg);
    -webkit-transform: perspective(300px) rotateY(0deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    opacity: 1; }
  .rotate-in.ng-hide-add.ng-hide-add-active {
    transform: perspective(300px) rotateY(-40deg);
    -ms-transform: perspective(300px) rotateY(-40deg);
    -webkit-transform: perspective(300px) rotateY(-40deg);
    opacity: 0; }
  .rotate-in.ng-hide-remove {
    transform: perspective(300px) rotateY(40deg);
    -ms-transform: perspective(300px) rotateY(40deg);
    -webkit-transform: perspective(300px) rotateY(40deg);
    transition-duration: 550ms;
    -webkit-transition-duration: 550ms;
    display: block !important;
    opacity: 0; }
  .rotate-in.ng-hide-remove.ng-hide-remove-active {
    transform: perspective(300px) rotateY(0deg);
    -ms-transform: perspective(300px) rotateY(0deg);
    -webkit-transform: perspective(300px) rotateY(0deg);
    opacity: 1; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif; }

b {
  font-weight: 600; }

a {
  text-decoration: none;
  color: inherit; }

grid-list > .grid-list-wrapper {
  grid-column: 1 / span 6;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
  margin-bottom: 15px; }

grid-item > .grid-item-wrapper {
  transition: all 0.2s;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-flow: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #eeeeee;
  padding: 15px; }
  grid-item > .grid-item-wrapper input {
    border: none;
    padding: 7.5px; }
  grid-item > .grid-item-wrapper.selected {
    box-shadow: inset 0px 0px 10px 0px #ABABAB; }
  grid-item > .grid-item-wrapper:hover, grid-item > .grid-item-wrapper.selected {
    outline: 1px solid #3498db;
    background: transparent; }
  grid-item > .grid-item-wrapper .grid-value:last-child {
    margin-bottom: 0; }
  grid-item > .grid-item-wrapper .actions {
    margin-top: auto; }
  grid-item > .grid-item-wrapper .grid-item-block {
    display: block;
    margin-bottom: 15px; }
    grid-item > .grid-item-wrapper .grid-item-block.extra {
      margin-top: auto; }
    grid-item > .grid-item-wrapper .grid-item-block media {
      margin: 0; }
    grid-item > .grid-item-wrapper .grid-item-block.key {
      font-weight: 600; }
    grid-item > .grid-item-wrapper .grid-item-block:last-child {
      margin-bottom: 0; }
    grid-item > .grid-item-wrapper .grid-item-block .text {
      line-height: 120%; }

media {
  box-shadow: none;
  display: block;
  position: relative;
  left: -15px;
  width: calc(100% + 30px);
  margin-bottom: 15px; }
  media .no-preview-available {
    display: grid;
    align-items: center;
    text-align: center;
    background: #2d3436;
    color: white;
    height: 100%;
    width: 100%; }
  media .title {
    display: none; }
  media figure {
    overflow: hidden;
    position: relative;
    height: 200px;
    display: flex;
    align-items: center;
    background: black; }
    media figure audio {
      margin: auto;
      border-radius: 0px;
      background: aliceblue;
      width: 90%; }
  media figure:empty {
    display: none; }
  media figure:hover .animation-image {
    transform: scale(1);
    opacity: 1; }
  media .animation-image {
    transition: opacity 0.4s ease-in-out, transform 0.2s ease-in-out, filter 0.2s ease-in-out;
    opacity: 0;
    transform: scale(1.5) rotate(5deg);
    filter: contrast(150%);
    position: absolute;
    top: 0;
    right: 0;
    left: 0; }

img, iframe, video {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%; }

pager {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  user-select: none;
  cursor: pointer;
  text-align: center;
  margin-bottom: 15px; }
  pager .page {
    font-weight: 300; }
    pager .page.active {
      font-weight: 600;
      color: #2980b9; }
  pager a {
    background-color: #eeeeee;
    padding: 10px; }
    pager a:hover {
      color: white !important;
      background-color: #2980b9; }
  pager .prev.disabled, pager .next.disabled {
    pointer-events: none;
    opacity: 0.5; }

field, field-select, field-options, field-richtext {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  field validation-errors, field-select validation-errors, field-options validation-errors, field-richtext validation-errors {
    order: 3; }
  field > label, field > label + *, field-select > label, field-select > label + *, field-options > label, field-options > label + *, field-richtext > label, field-richtext > label + * {
    display: block;
    width: 100%;
    font-size: 18px; }
  field > label + *, field-select > label + *, field-options > label + *, field-richtext > label + * {
    font-family: "Open Sans", sans-serif;
    padding: 5px;
    padding-left: 0;
    padding-right: 0;
    border: 0;
    border-bottom: 1px solid #2980b9;
    outline: 0; }
  field > label, field-select > label, field-options > label, field-richtext > label {
    font-weight: 600;
    color: #2980b9;
    margin-bottom: 7.5px; }

field-richtext {
  /* Editor styling */ }
  field-richtext h1 {
    font-size: 25px; }
  field-richtext h2 {
    font-size: 20px; }
  field-richtext h3 {
    font-size: 18px; }
  field-richtext .ta-toolbar {
    background-color: #F0F0F0;
    padding: 10px 10px 5px;
    margin-left: 0px;
    /* Override bootstrap */
    border: 1px solid #EEE; }
  field-richtext .ta-toolbar .btn-group {
    margin-bottom: 5px;
    display: grid;
    grid-gap: 7.5px;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr)); }
    field-richtext .ta-toolbar .btn-group button {
      border: 0;
      background: white;
      padding: 7px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    field-richtext .ta-toolbar .btn-group button.active {
      background: #2980b9;
      color: black; }
  field-richtext .ta-editor, field-richtext .white-box {
    padding: 10px;
    background-color: #FFF;
    border: 1px solid #EEE; }
  field-richtext [contenteditable] {
    width: 100%;
    padding: 15px !important; }

related-items .related-items-wrapper > label {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: #2980b9;
  margin-bottom: 15px; }

field-grid > [data-ng-transclude] {
  width: 100%;
  display: grid;
  grid-gap: 15px; }

.checkbox-options, .radio-options {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); }

btn-toolbar {
  margin-bottom: 15px; }
  btn-toolbar .tools {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    display: grid;
    grid-gap: 7.5px; }
    btn-toolbar .tools btn {
      width: 100%;
      text-align: center; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
btn button:not(.loading) i {
  margin-left: 5px; }
btn button {
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  transition: all 0.2s;
  font-weight: 600;
  border: 0;
  display: inline-block;
  font-size: 15px;
  padding: 7.5px;
  background-color: #2980b9;
  color: white; }
  btn button:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: #3498db;
    color: black; }
  btn button:active {
    box-shadow: none; }
  btn button .spinner i {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }

lightbox .main-title {
  border-bottom: 0;
  font-size: 25px; }
lightbox .lightbox {
  z-index: 3;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%; }
  lightbox .lightbox .lightbox-container {
    width: auto;
    padding: 15px;
    background: white;
    margin: auto; }
    lightbox .lightbox .lightbox-container .main-title {
      border: 0;
      font-size: 25px; }
    lightbox .lightbox .lightbox-container .close {
      cursor: pointer;
      float: left;
      width: 100%;
      text-align: right;
      margin-bottom: 7.5px;
      font-size: 20px; }

dropdown {
  user-select: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  display: block;
  width: 100%;
  font-weight: 600;
  background: #2980b9;
  color: white; }
  dropdown .opened {
    background-color: #3498db; }
    dropdown .opened i {
      transform: rotate(180deg); }
  dropdown:hover {
    background-color: #3498db; }
  dropdown .dropdown-item, dropdown .collapsed-items > * {
    cursor: pointer;
    padding: 10px;
    display: flex;
    width: 100%; }
    dropdown .dropdown-item i, dropdown .collapsed-items > * i {
      transition: all 0.2s;
      margin-left: auto; }
  dropdown .collapsed-items {
    z-index: 2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: absolute;
    left: 0;
    right: 0; }
    dropdown .collapsed-items > *:hover {
      color: #2980b9;
      background-color: white; }
    dropdown .collapsed-items > * {
      transition: all 0.2s;
      background: #eeeeee;
      color: black;
      font-weight: 300; }

@keyframes dragging-files {
  0% {
    transform: scale(0.8); }
  100% {
    transform: scale(1.3); } }
field-upload .file-dropbox {
  line-height: 120%;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #eeeeee;
  color: #3498db;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center; }
  field-upload .file-dropbox.dragging-files .text i {
    animation-name: dragging-files;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running; }
  field-upload .file-dropbox .text {
    margin: auto; }
    field-upload .file-dropbox .text i {
      display: block;
      text-align: center;
      font-size: 20px;
      margin-top: 7.5px; }
  field-upload .file-dropbox [type='file'] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; }
field-upload label {
  margin-top: 15px; }
field-upload grid-list .grid-list-wrapper {
  margin-top: 15px;
  margin-bottom: 0; }

heading .main-title {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  color: #3498db;
  border-bottom: 1px solid #3498db;
  line-height: 150%; }

navbar > .menu-top {
  position: fixed;
  right: 0;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  float: right;
  width: calc(100% - 350px);
  background-color: #3498db;
  color: black;
  font-size: 20px; }
  navbar > .menu-top .menu-hamburger {
    padding: 15px;
    display: inline-block;
    transition: all 0.2s; }
    navbar > .menu-top .menu-hamburger:hover {
      cursor: pointer;
      background: #2980b9;
      color: white; }

navbar[data-type='top'] + navbar[data-type='left'] + .main-container {
  margin-top: 50px;
  height: calc(100% - 50px); }

navbar > .menu-side {
  position: fixed;
  width: 350px;
  transition: all 0.2s;
  box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.4);
  background-color: #2980b9;
  color: white;
  height: 100%;
  overflow: auto; }

navbar > .menu-side.left {
  left: 0;
  float: left; }

navbar > .menu-side.left {
  left: 0; }

.main-container, .menu-top {
  transition: all 0.2s;
  position: relative;
  right: 0; }

.main-container {
  left: 0px;
  overflow-x: hidden;
  width: calc(100% - 350px); }

navbar > .menu-side > .menu-links {
  transition: all 0.2s;
  position: relative;
  left: 0%; }

.menu-links > a:hover {
  color: #2980b9;
  background-color: white; }

.menu-links > a.active {
  background: #3498db;
  color: black; }
  .menu-links > a.active body:not(.sidebar-toggle) i {
    right: 20px; }

.menu-links > a {
  transition: all 0.2s;
  padding: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #3498db;
  font-weight: 600; }
  .menu-links > a i {
    transition: all 0.2s;
    margin-left: auto;
    right: 0;
    position: relative;
    font-size: 20px; }
  body:not(.sidebar-toggle) .menu-links > a:hover i {
    right: 20px; }

@media all and (min-width: 769px) {
  body.sidebar-toggle navbar > .menu-side {
    left: -300px; }
  body.sidebar-toggle .main-container {
    width: calc(100% - 50px); }
  body.sidebar-toggle .menu-top {
    width: calc(100% - 50px); } }
@media all and (max-width: 768px) {
  .menu-links > a.active i {
    right: 0 !important; }

  navbar > .menu-side {
    width: 230px; }

  .main-container {
    width: calc(100% - 50px); }

  navbar > .menu-top {
    right: 0; }

  body.sidebar-toggle .main-container {
    left: 180px; }
  body.sidebar-toggle navbar > .menu-top {
    width: calc(100% - 230px); }

  body:not(.sidebar-toggle) navbar > .menu-side {
    width: 230px;
    left: -180px; }
  body:not(.sidebar-toggle) .main-container {
    width: calc(100% - 50px); }
  body:not(.sidebar-toggle) .menu-top {
    width: calc(100% - 50px); } }
@media all and (max-width: 360px) {
  .main-container .body {
    padding: 7.5px !important; } }
related-items > .related-items-wrapper > lightbox > .lightbox > .lightbox-container {
  width: 90%; }
  related-items > .related-items-wrapper > lightbox > .lightbox > .lightbox-container .main-title {
    font-size: 30px; }

related-items .related-items-wrapper {
  background: linear-gradient(to right, #2980b9, #3498db);
  padding: 15px; }
  related-items .related-items-wrapper save .tools btn:first-child {
    display: none; }
  related-items .related-items-wrapper .related-items-empty {
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 20px; }
  related-items .related-items-wrapper > grid-list .grid-item-wrapper:hover {
    outline: none;
    background: white; }
  related-items .related-items-wrapper > label {
    color: white; }
  related-items .related-items-wrapper .related-actions {
    padding: 7.5px;
    background: white;
    margin-top: 7.5px;
    font-size: 18px; }
    related-items .related-items-wrapper .related-actions a, related-items .related-items-wrapper .related-actions a > i {
      transition: all 0.15s;
      cursor: pointer; }
    related-items .related-items-wrapper .related-actions a:hover {
      color: #3498db; }
      related-items .related-items-wrapper .related-actions a:hover i {
        transform: scale(1.2); }
  related-items .related-items-wrapper > btn-toolbar > .tools {
    width: calc(100% + 30px);
    left: -15px;
    position: relative;
    bottom: -15px;
    grid-gap: 0;
    grid-template-columns: 1fr 1fr; }
    related-items .related-items-wrapper > btn-toolbar > .tools btn:first-child > button {
      border-right: none; }
    related-items .related-items-wrapper > btn-toolbar > .tools button {
      background: white;
      color: black;
      border: 1px solid black; }
      related-items .related-items-wrapper > btn-toolbar > .tools button:not(:hover) {
        box-shadow: none; }
related-items .lightbox-container {
  max-height: 90vh;
  overflow: auto; }

related-items .lightbox-container {
  padding: 30px !important;
  border: 3px solid #3498db; }

field-option {
  display: flex; }
  field-option input {
    border-bottom: none;
    display: inline-block;
    margin-left: auto;
    width: auto;
    position: absolute;
    opacity: 0; }
  field-option label {
    cursor: pointer;
    width: auto;
    font-size: 15px;
    color: black;
    display: inline-block; }
  field-option label.dummy {
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-left: auto;
    border: 0; }
  field-option label.dummy.not-checked {
    display: block; }
  field-option label.dummy.checked {
    display: none; }
  field-option input:checked ~ label.dummy.checked {
    display: block; }
  field-option input:checked ~ label.dummy.not-checked {
    display: none; }

dataset .grid-item-block.extra {
  display: grid;
  grid-template-columns: auto min-content;
  align-items: center; }
  dataset .grid-item-block.extra label.dummy {
    font-size: 25px; }
  dataset .grid-item-block.extra field-option {
    padding-left: 7.5px; }
dataset > .loading {
  height: 80px;
  align-items: center;
  display: flex;
  background: white;
  margin-bottom: 15px; }
  dataset > .loading svg {
    margin: auto; }
    dataset > .loading svg rect {
      fill: black; }

list > btn-toolbar .tools {
  box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.2);
  padding: 7.5px;
  background: #E0E0E0; }

login .login-wrapper {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }
  login .login-wrapper:after {
    content: '';
    position: fixed;
    background: linear-gradient(to right, #2980b9, #3498db);
    opacity: 0.3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  login .login-wrapper btn-toolbar {
    height: auto;
    display: grid;
    align-items: end; }
    login .login-wrapper btn-toolbar [data-ng-transclude] {
      display: block; }
      login .login-wrapper btn-toolbar [data-ng-transclude] btn {
        float: right;
        max-width: 120px; }
  login .login-wrapper:before {
    background-size: cover;
    content: '';
    position: fixed;
    background-image: url("https://www.goodfreephotos.com/albums/new-zealand/other-new-zealand/mountains-landscape-and-road-new-zealand.jpg");
    width: 100%;
    height: 100%;
    top: 0;
    right: 0; }
  login .login-wrapper field-grid {
    position: relative;
    overflow: hidden;
    max-width: 450px;
    min-width: 300px;
    z-index: 11;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    width: 50%;
    padding: 30px;
    margin: auto; }
    login .login-wrapper field-grid > [data-ng-transclude] {
      grid-gap: 20px; }
    login .login-wrapper field-grid > [data-ng-transclude] > div {
      grid-template-columns: min-content auto;
      display: grid;
      font-size: 20px; }
      login .login-wrapper field-grid > [data-ng-transclude] > div:nth-last-child(2) i {
        font-size: 18px; }
      login .login-wrapper field-grid > [data-ng-transclude] > div field {
        width: 100%; }
      login .login-wrapper field-grid > [data-ng-transclude] > div i {
        width: 5%;
        display: flex;
        align-items: center;
        margin-right: 20px;
        color: #3498db; }
    login .login-wrapper field-grid field > input {
      background: transparent; }
    login .login-wrapper field-grid .background-image {
      background-size: cover;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -2;
      width: 100%;
      height: 100%;
      filter: blur(5px);
      background-image: url("https://www.goodfreephotos.com/albums/new-zealand/other-new-zealand/mountains-landscape-and-road-new-zealand.jpg"); }
    login .login-wrapper field-grid .overlay {
      background: rgba(255, 255, 255, 0.7);
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 100%;
      height: 100%; }
    login .login-wrapper field-grid [data-ng-transclude] > btn-toolbar {
      margin-bottom: 0; }

user-box .user-box-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  background: #3498db;
  display: grid;
  grid-template-columns: 1fr 4fr; }
  user-box .user-box-wrapper .username {
    display: flex;
    align-items: center;
    padding: 0 !important;
    text-align: center;
    padding-top: 0;
    font-weight: 600; }
    user-box .user-box-wrapper .username dropdown {
      box-shadow: none; }
      user-box .user-box-wrapper .username dropdown [data-ng-transclude] {
        max-width: 200px; }
      user-box .user-box-wrapper .username dropdown .dropdown-item:first-child {
        background: #3498db;
        color: white; }
        user-box .user-box-wrapper .username dropdown .dropdown-item:first-child i {
          margin-left: 15px; }
      user-box .user-box-wrapper .username dropdown .dropdown-item {
        padding: 10px 15px;
        background: #3498db; }
  user-box .user-box-wrapper media {
    width: 100%;
    margin: auto;
    left: auto;
    margin-top: 15px;
    margin-bottom: 15px; }
    user-box .user-box-wrapper media figure {
      margin: auto;
      max-height: 50px;
      max-width: 50px;
      border-radius: 50%; }

validation-errors {
  display: grid;
  /* display: block; */
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  margin-top: 7px;
  font-size: 15px;
  color: #e74c3c;
  font-weight: 600; }

.main-container {
  overflow: hidden;
  float: right;
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto;
  grid-row: 1 / span 2;
  grid-template-columns: repeat(6, 1fr); }

.main-container > .body {
  grid-column: 1 / span 6;
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  overflow: auto;
  background: white; }

.fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 1; }

.fade.ng-enter,
.fade.ng-leave {
  transition: all 0.25s ease; }

.fade.ng-enter {
  opacity: 0; }

.fade.ng-enter-active {
  opacity: 1;
  overflow: hidden; }

.fade.ng-leave {
  opacity: 1; }

.fade.ng-leave-active {
  opacity: 0; }

/*# sourceMappingURL=main.css.map */
