@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600');
$main-font:'Montserrat', sans-serif;

$error-color:#e74c3c;
$info-color:#2980b9;
$success-color:#27ae60;
$warning-color:#f1c40f;

$body-color:white;
$body-font-color:black;


$main-background-font:black;
$main-color: #2980b9;

$main-font-color:white;

$secondary-color:#3498db;
$secondary-font-color: black;

$padding-1: 15px;

@import "main";