@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600');
$main-font:'Montserrat', sans-serif;
$error-color:#e74c3c;
$body-color:white;
$body-font-color:black;


$main-background-font:black;
$main-color: #34495e;

$main-font-color:white;


$secondary-color:#00b894;
$secondary-font-color: white;

$padding-1: 20px;

@import "main";