<div class="user-box-wrapper">

    <media data-src="$ctrl.user._related.avatar[0].src || 'https://api.drupal.org/sites/default/files/default-avatar.png'"></media>
    <span class="username">
    <dropdown  data-placeholder="$ctrl.user.username" >

        <a href="#!/me">{{'Mi perfil'}} <i class="fas fa-user"></i></a>
        <a href="#!/change-password/me">{{'Cambiar contraseña'}} <i class="fas fa-key"></i>
         <a href="#!/logout">{{'Salir'}} <i class="fas fa-sign-out-alt"></i></a>


</a>

        </dropdown>

    </span>

</div>